@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", "Arimo", sans-serif;
}
a,
a:hover {
  text-decoration: none;
  color: black;
}
.header-content {
  width: 100%;
  min-height: 14vh;
  height: 14vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1vw;
}
.logo {
  font-size: 18px;
  font-weight: bold;
  width: 30%;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100%;
}
.menu {
  width: 70%;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menu .link-list {
  width: 100%;
  height: 6vh;
  background: url("images/background-menu-top.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-radius: 0 0 0 8px;
}
.menu .link-list .navbar-nav {
  flex-direction: row !important;
  align-items: center !important;
}
.menu .link-list .navbar-nav .link-item .nav-link {
  padding-right: 1rem !important;
  padding-left: 2.5rem !important;
  color: white;
}
.menu .link-list .navbar-nav .link-item .nav-link:hover {
  color: rgb(238, 238, 238);
}

.menu .menu-bar {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.menu .menu-bar .navbar-nav {
  flex-direction: row !important;
  align-items: center !important;
}
.menu .menu-bar .navbar-nav .link-item .nav-link {
  padding-right: 1rem !important;
  padding-left: 2.5rem !important;
}

.menu .menu-bar .link-item a:hover {
  color: #ff8240;
}
.menu .menu-bar .btn-dangky {
  width: 100px;
  background: #013c5a;
  border: #013c5a;
  color: white;
  margin-right: 10rem;
}
.menu .menu-bar .btn-dangky:hover {
  background: #033249;
  color: rgb(238, 235, 235);
}
.menu .menu-bar .link-item.active a {
  color: #ff8240;
}
.banner {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner img:nth-child(2) {
  position: absolute;
  z-index: 1;
  right: 2rem;
}

.btn-ungdung {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 47rem;
}
.btn-ungdung .btn-ios,
.btn-ungdung .btn-android {
  display: flex;
  align-items: center;
  width: 180px;
  height: 60px;
  background-color: #013c5a;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}
.btn-ungdung .btn-ios:hover,
.btn-ungdung .btn-android:hover {
  background-color: #034363;
}
.btn-ungdung .btn-ios img,
.btn-ungdung .btn-android img {
  margin-left: 4px;
}
.btn-ungdung .btn-ios div,
.btn-ungdung .btn-android div {
  margin-top: 5px;
  padding: 0 0 0 7px;
  font-size: 13px;
}
.btn-ungdung .btn-ios div h5,
.btn-ungdung .btn-android div h5 {
  font-size: 21px;
}
.tintuc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.tintuc h4 {
  font-weight: 700;
}
.card {
  border: none !important;
  margin-top: 10px;
}
.card img {
  box-shadow: 0px 2px 7px rgba(37, 37, 37, 0.5);
}
.card .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dot {
  color: #ff8240;
  font-size: 50px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}
.dot.active {
  color: #013c5a;
}
.text-footer ul li a {
  margin: 10px 0px;
  color: #ff8240;
  font-size: 13px;
  font-weight: bold;
  pointer-events: none;
}
.text-footer ul li:nth-child(2),
.text-footer ul li:nth-child(4) {
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-footer:not(:nth-child(1)) ul li:nth-child(2) a,
.text-footer ul li:nth-child(4) a {
  color: #fff !important;
  font-weight: normal;
}
.text-footer:nth-child(1) ul li a {
  cursor: pointer;
  pointer-events: all;
}
.text-footer:nth-child(1) ul li a:hover {
  color: #f86d22;
}
.text-footer ul li img {
  width: 35px;
  height: 35px;
}
.text-footer:nth-child(4) ul li:not(:nth-child(1)) a {
  pointer-events: all;
}
.giaiphap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.giaiphap .lg-content {
  font-size: 2vw;
}
.giaiphap .nd-content {
  margin-top: 10px;
  font-size: 2vw;
}
.col-lg-2 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.col-lg-5.first {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding-right: 0px !important;
  padding-left: 0px !important;
  text-align: right;
}
.col-lg-5.first .content-left {
  margin-right: 35px;
  font-size: 12px;
  font-weight: bold;
}
.col-lg-5.first .content-left h5,
.col-lg-5.secondary .content-left h5 {
  font-weight: bold;
  font-size: 18px;
}
.col-lg-5.first .content-right {
  font-size: 60px;
  color: #ffb30e;
}
.col-lg-5.secondary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-right: 0px !important;
  padding-left: 0px !important;
  text-align: left;
}
.col-lg-5.secondary .content-left {
  padding-left: 35px;
  font-size: 12px;
  font-weight: 700;
}
.col-lg-5.secondary .content-right {
  font-size: 60px;
  color: #ffb30e;
}
.download {
  width: 100%;
  margin-top: 5em;
  position: relative;
  background: url("images/taiungdung_(2).png") no-repeat center;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10em;
}
.download .container.content .row:nth-child(1) .col-lg-12 {
  font-size: 12px;
  margin-top: 6em;
}
.download .container.content .row .col-lg-4 {
  font-size: 12px;
  margin-top: 6em;
}
.download .container.content .row:nth-child(3) .col-lg-4 {
  font-size: 12px;
  margin-top: 15.5em;
}
.download .container.content .row:nth-child(2) .col-lg-4:nth-child(1) {
  padding-left: 17em;
}
.download .container.content .row:nth-child(2) .col-lg-4:nth-child(3) {
  padding-right: 17.5em;
}
.download .container.content .row:nth-child(3) .col-lg-4:nth-child(1) {
  padding-right: 7em;
}
.download .container.content .row:nth-child(3) .col-lg-4:nth-child(3) {
  padding-left: 7em;
  padding-top: 10px;
}
nav.mobile,
.giaiphap .mb-hidden {
  display: none;
}

/* media */
@media screen and (max-width: 768px) {
  nav.hide {
    display: none;
  }
  nav.mobile.show {
    display: flex;
  }
  .giaiphap .pc-hidden {
    display: none;
  }
  .giaiphap .mb-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* menu top */
  .bar-top {
    background: url("images/background-menu-top.png");
    padding: 0px 1em;
  }
  .bar-top .navbar-nav {
    flex-direction: row !important;
    font-size: 3vw;
  }
  .bar-top .navbar-nav li {
    padding-right: 10px;
  }
  .bar-top .navbar-nav li a {
    color: rgb(255, 255, 255);
  }
  /* banner */
  .banner .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 12vw;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 25px;
  }
  .banner .carousel-caption i {
    width: 50px;
    height: 50px;
    padding: 0.5em 0.5em;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
  }
  /* content */
  .giaiphap .lg-content {
    font-size: 2.5vh;
  }
  .giaiphap .nd-content {
    margin-top: 10px;
    font-size: 2.5vh;
  }
  .giaiphap .container-fluid .row {
    padding: 3vh 3vw 3vh 3vw;
  }
  /*  */
}
@media all and (max-width: 576px) {
  .banner .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 22px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 20px;
  }
  .banner .carousel-caption i {
    width: 50px;
    height: 50px;
    padding: 0.5em 0.5em;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
  }
  /* content */
  .giaiphap .lg-content {
    font-size: 2vh;
  }
  .giaiphap .nd-content {
    margin-top: 10px;
    font-size: 2vh;
  }
  /*  */
}
